<h1 class="title" id="header">This is your image</h1>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<a href=<%= images_path%>>  do you want to see all of your images????</a>
<br>

<%= image_tag(@image.url, class: "img-max-width") %>
